.menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #010200;
}

.menu span {
    float: left;
    text-align: center;
    color: white;
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    float: left;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.menu a:hover {
    background: #FD5200;
}

.active {
    background: #FD5200;
}